.carousel{
    display: flex;
    flex-direction: row;
    height: 360px;
    max-width: 670px;
    position: relative;
    overflow: hidden;
}

.carousel-overlay-content h2{
    font-weight: 700;
    font-size: 14px;
}

.carousel-overlay-content p{
    font-weight: 300;
    font-size: 13px;
}

.carousel-overlay-content .content-link {
    font-size: 12px;
    font-weight: 400;
}
.carousel-overlay-preview {
    display:flex;
    justify-content: space-around;
    gap: 5px;
}
.carousel-overlay-preview-item {
    /* border: 1px solid var(--theme-link-color); */
}

.carousel-overlay-preview-item img{
    object-fit: fill;
    height: 48px;
    width: 70px;
}

.carousel-overlay-preview-item:hover{
    cursor: pointer;
}

.carousel-content-item{
    background-color: var(--theme-page-background-color--secondary);
    border: 1px solid var(--theme-page-background-color--secondary);
    box-sizing: border-box;
}
.carousel-content {
    display: flex;
}

.carousel-content-item img{
    height: 360px;
    max-width: 670px;
    object-fit: contain;
}
.carousel-overlay{
    position: absolute;
    inset: 0;
    display:none;
}

.carousel-overlay-controllers{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.carousel-overlay-info{
    display: flex;
    color:white;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(30,12,27,.7);
    padding: 8px;
}

.carousel-overlay-controller {
    width: 12px;
    padding: 10px;
    display: flex;
    background-color: white;
    border-radius: 50%;
    opacity: 0.6;
    margin: 0 5px;
    cursor: pointer;
}
.carousel-overlay-controller:last-child{
    rotate: 180deg;
}

.carousel-overlay-controller-previous{
    transform: translateX(0px);
}

.carousel-overlay-controller-next{
    transform: translateX(-670px);
}

.carousel-overlay--hover{
    display: flex;
    flex-direction: column;
}
/* @keyframes bounce {
  0% {
    transform: translateX(0px);
  }

  20%,
  50%,
  80%,
  100% {
    transform: translateX(670px);
  }
} */

