<div id="carousel" class="carousel">
    <div class="carousel-content">
        <div class="carousel-content-item">
            <img src="public/images/Grimoire_of_Souls_-_03.webp">
        </div>
        <div class="carousel-content-item">
            <img src="public/images/Castlevania_Advance_Collection_-_03.webp">
        </div>
        <div class="carousel-content-item">
            <img src="public/images/Season4PromoNetflix.PNG.webp">
        </div>
        <div class="carousel-content-item">
            <img src="public/images/Castlevania_-_Moonlight_Rhapsody_-_02.webp">
        </div>
    </div>

    <div class="carousel-overlay">
        <div class="carousel-overlay-controllers">
            <div id="carousel-overlay-controller-previous" class="carousel-overlay-controller">
                <img src="public/svg/arrow-tiny.svg">
            </div>
            <div id="carousel-overlay-controller-next" class="carousel-overlay-controller">
                <img src="public/svg/arrow-tiny.svg">
            </div>
        </div>
        <div class="carousel-overlay-info">
            <div class="carousel-overlay-content">
                <div class="carousel-overlay-content-item">

                </div>
                <template id="carousel-overlay-content-item">
                    <h2><b>{{overlay-content-title}}</b></h2>
                    <p>{{overlay-content-description}}</p>
                    <a class="content-link" href="{{overlay-content-link}}">Read more ></a>
                </template>
            </div>
            <div class="carousel-overlay-preview">
                <div class="carousel-overlay-preview-item">
                    <img src="public/images/Grimoire_of_Souls_-_03.webp">
                </div>
                <div class="carousel-overlay-preview-item">
                    <img src="public/images/Castlevania_Advance_Collection_-_03.webp">
                </div>
                <div class="carousel-overlay-preview-item">
                    <img src="public/images/Season4PromoNetflix.PNG.webp">
                </div>
                <div class="carousel-overlay-preview-item">
                    <img src="public/images/Castlevania_-_Moonlight_Rhapsody_-_02.webp">
                </div>
            </div>
        </div>
    </div>

</div>