<div class="header">
    <a class="btn btn-outlined">SIGN IN</a>
    <a class="btn btn-signin"><img src="/public/svg/user.svg" /> REGISTER</a>
</div>
<div class="header-content-container">
    <div class="header-container-top">
        <img src="/public/images/logo.png" width="170" height="65" alt="Wikivania" />
        <div class="header-container-top-content">
            <a class="header-container-top-title">Wikivania: Encyclopedia of Darkness</a>
            <div class="header-top-menu">
                <div class="header-top-menu-item">
                    <img src="/public/svg/book.svg" width="12px" />
                    <a class="header-top-menu-item-title">EXPLORE</a>
                </div>
                <div class="header-top-menu-item">
                    <a class="header-top-menu-item-title">GAMES</a>
                </div>
                <div class="header-top-menu-item">
                    <a class="header-top-menu-item-title">UNIVERSE</a>
                </div>
                <div class="header-top-menu-item">
                    <a class="header-top-menu-item-title">ANIMATED SERIES</a>
                </div>
                <div class="header-top-menu-item">
                    <a class="header-top-menu-item-title">OTHER MEDIA</a>
                </div>
            </div>
        </div>
    </div>
</div>