<div class="main-container">
    <div class="main-container-meta">
        <div class="header-top-menu-item">
            <a class="header-top-menu-item-title" style="color: var(--theme-page-text-color)">English</a>
        </div>
    </div>
    <h1 class="main-container-title">HOME</h1>
    <div class="main-content">
        <div class="main-content-inner">
            <div style="height: 360px;">

            </div>
            <div class="main-content-section" style="opacity: 100% !important">
                <div class="main-content-section-title">
                    <img src="public/images/welcome.webp" style="opacity: 100% !important" alt="Trending" />
                </div>
                <div class="main-content-section-inner">
                    <p>The official community site dedicated to the <a href="">Konami</a> video game series <a
                            class="content-link" href="">Castlevania</a> that <a class="content-link" href="">anyone can
                            edit</a>.</p>
                    <p>However, we can only grow with your help.</p>

                    <p><b style="color:var(--theme-alert-color--secondary)">Warning</b>: This wiki contains <a
                            class="content-link" href="">spoilers</a>, proceed at your own risk.</p>

                    <p>For fan-related content, please see the <a class="content-link" href="">Castlevania Fan Wiki</a>.
                    </p>
                    <p>To make up your own Castlevania content, please see the <a class="content-link"
                            href="">Castlevania Fanon Wiki</a>.
                    </p>

                    <p>If you're new to FANDOM™, take a moment to check out the <a class="content-link" href="">FANDOM
                            University</a> or the
                        <a class="content-link" href="">Help pages</a>, and
                        be
                        sure to read and
                        understand our <a href="">policies</a>.
                    </p>

                    <p>If you have previously contributed to a wiki before and want to add a new page, go ahead and add
                        it
                        here:</p>
                </div>
            </div>
            <div class="main-content-section" style="opacity: 100% !important">
                <div class="main-content-section-title">
                    <img src="public/images/content.webp" style="opacity: 100% !important" alt="Trending" />
                </div>
                <div class="main-content-section-inner">
                    <div class="main-content-picture-wall-container">
                        <div class="main-content-picture-wall">
                            <div class="main-content-picture-wall-item">
                                <div class="main-content-picture-wall-item-title">
                                    <a href=""><b>Animated Series</b></a>
                                </div>
                                <a href="">
                                    <img src="public/images/Button-Netflix2.webp" alt="Animated Series" />
                                </a>
                            </div>
                            <div class="main-content-picture-wall-item">
                                <div class="main-content-picture-wall-item-title">
                                    <a href=""><b>Requiem (PS4)</b></a>
                                </div>
                                <a href="">
                                    <img src="public/images/Button-Requiem.webp" alt="Requiem (PS4)" />
                                </a>
                            </div>
                        </div>
                        <div class="main-content-picture-wall">
                            <div class="main-content-picture-wall-item">
                                <div class="main-content-picture-wall-item-title">
                                    <a href=""><b>Animated series characters</b></a>
                                </div>
                                <a href="">
                                    <img src="public/images/Button-Netflix.webp" alt="Animated series characters" />
                                </a>
                            </div>
                            <div class="main-content-picture-wall-item">
                                <div class="main-content-picture-wall-item-title">
                                    <a href=""><b>Animated series episodes</b></a>
                                </div>
                                <a href="">
                                    <img src="public/images/Button-Netflix3.webp" alt="Animated series episodes" />
                                </a>
                            </div>
                            <div class="main-content-picture-wall-item">
                                <div class="main-content-picture-wall-item-title">
                                    <a href=""><b>SSB ultimate (switch)</b></a>
                                </div>
                                <a href="">
                                    <img src="public/images/Button-SSBU.webp" alt="SSB ultimate (switch)" />
                                </a>
                            </div>
                            <div class="main-content-picture-wall-item">
                                <div class="main-content-picture-wall-item-title">
                                    <a href=""><b>Grimoire of sould (mobile)</b></a>
                                </div>
                                <a href="">
                                    <img src="public/images/Button-GoS.webp" alt="Grimoire of sould (mobile)" />
                                </a>
                            </div>
                        </div>
                        <div class="main-content-picture-wall">
                            <div class="main-content-picture-wall-item">
                                <div class="main-content-picture-wall-item-title">
                                    <a href=""><b>Games</b></a>
                                </div>
                                <a href="">
                                    <img src="public/images/Button-VG.webp" alt="Games" />
                                </a>
                            </div>
                            <div class="main-content-picture-wall-item">
                                <div class="main-content-picture-wall-item-title">
                                    <a href=""><b>Enemies</b></a>
                                </div>
                                <a href="">
                                    <img src="public/images/Button-Enemies.webp" alt="Enemies" />
                                </a>
                            </div>
                            <div class="main-content-picture-wall-item">
                                <div class="main-content-picture-wall-item-title">
                                    <a href=""><b>Soundtracks</b></a>
                                </div>
                                <a href="">
                                    <img src="public/images/Button-Ost.webp" alt="Soundtracks" />
                                </a>
                            </div>
                            <div class="main-content-picture-wall-item">
                                <div class="main-content-picture-wall-item-title">
                                    <a href=""><b>Artworks</b></a>
                                </div>
                                <a href="">
                                    <img src="public/images/Button-Artwork.webp" alt="Artworks" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="main-content-section-links">
                <li><a href="" class="content-link">Timeline</a></li>
                <li><a href="" class="content-link">Characters</a></li>
                <li><a href="" class="content-link">Weapons</a></li>
                <li><a href="" class="content-link">Items</a></li>
                <li><a href="" class="content-link">Music</a></li>
                <li><a href="" class="content-link">Locations</a></li>
                <li><a href="" class="content-link">Mechanics</a></li>
                <li><a href="" class="content-link">Random</a></li>
            </ul>
        </div>
        <div class="main-content-side">
            <p><br></p>
            <div>
                <p>Which option better represents your feelings about the ending of the Castlevania animated series?</p>
            </div>
            <div class="main-content-side-answer">
                <p>AWESOME! It's all I could wish for and then some!</p>
                <hr class="main-content-side-answer-percentage" style="width: 73%;">
            </div>
            <div class="main-content-side-answer">
                <p>Great! I'm happy with how everything turned out.</p>
                <hr class="main-content-side-answer-percentage" style="width: 61%;">
            </div>
            <div class="main-content-side-answer">
                <p>Good. It was alright but could have been better.</p>
                <hr class="main-content-side-answer-percentage" style="width: 31%;">
            </div>
            <div class="main-content-side-answer">
                <p>Bad. I'm dissatisfied with most outcomes.</p>
                <hr class="main-content-side-answer-percentage" style="width: 10%;">
            </div>
            <div class="main-content-side-answer">
                <p>TERRIBLE! They screwed up all they had built up!.</p>
                <hr class="main-content-side-answer-percentage" style="width: 7%;">
            </div>
        </div>
    </div>
</div>