<div class="main-container" style="height: 100vh">
    <div class="main-content">
        <div class="main-content-title">HOME</div>
        <div class="main-content-inner">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div id="carousel" include-html="carousel.html">

                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
        <div id="carousel" include-html="carousel.html">

        </div>
    </div>