<div>
    <img src="public/svg/logo.svg" width="35" alt="Wikivania" />
    <span style="font-family: rubik; font-size: 10px; color:black; font-weight: 700; ">FANDOM</span>
</div>
<div>
    <img src="public/svg/search.svg" width="25px" alt="Search" />
</div>
<div class="nav-item">
    <div class="nav-circle-button nav-circle-button-menu">
        <img src="public/svg/fan-central.svg" alt="Homepage" />
    </div>
    <h5 class="nav-item-title">FAN<br>CENTRAL</h5>
</div>
<div class="nav-item">
    <div class="nav-circle-button nav-circle-button-menu">
        <img src="public/svg/home.svg" alt="Homepage" />
    </div>
    <h5 class="nav-item-title">HOME</h5>
</div>
<div class="nav-item">
    <div class="nav-circle-button nav-circle-button-menu">
        <img src="public/svg/games.svg" alt="Games" />
    </div>
    <h5 class="nav-item-title">GAMES</h5>
</div>
<div class="nav-item">
    <div class="nav-circle-button nav-circle-button-menu">
        <img src="public/svg/anime.svg" alt="Anime" />
    </div>
    <h5 class="nav-item-title">ANIME</h5>
</div>
<div class="nav-item">
    <div class="nav-circle-button nav-circle-button-menu">
        <img src="public/svg/movies.svg" alt="Movies" />
    </div>
    <h5 class="nav-item-title">MOVIES</h5>
</div>
<div class="nav-item">
    <div class="nav-circle-button nav-circle-button-menu">
        <img src="public/svg/tv.svg" alt="Tv" />
    </div>
    <h5 class="nav-item-title">TV</h5>
</div>
<div class="nav-item">
    <div class="nav-circle-button nav-circle-button-menu">
        <img src="public/svg/video.svg" alt="Video" />
    </div>
    <h5 class="nav-item-title">VIDEO</h5>
</div>
<div class="nav-item">
    <div class="nav-circle-button nav-circle-button-menu">
        <img src="public/svg/wikis.svg" alt="Wikis" />
    </div>
    <h5 class="nav-item-title">WIKIS</h5>
</div>
<div class="nav-item nav-last-item">
    <img src="public/svg/user.svg" />